:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url('/src/assets/7951463.jpg');
  background-size: cover;
  background-position: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 4rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: yellow;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.start-button{
  font-size: 2rem;
}

select {
  background: linear-gradient(180deg, #f8d030, #f0c020);
  border: 3px solid #3b4cca;
  border-radius: 12px;
  padding: 10px 16px;
  width: 220px;
  font-size: 16px;
  font-weight: bold;
  color: #2a2a2a;
  cursor: pointer;

  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  text-transform: capitalize;
}

.select-div{
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
}

.pokemon-card {
  background: linear-gradient(180deg, #f8d030, #f0c020);
  border: 4px solid #3b4cca;       
  border-radius: 16px;
  padding: 1rem 3rem;
  text-align: center;
  font-family: 'Verdana', sans-serif;
  box-shadow:
    0 8px 16px rgba(0, 0, 0, 0.35),
    0 0 12px rgba(255, 255, 255, 0.55);
}

hr{
  border: none;
  height: 2px;
  background-color: #3b4cca;
}
.pokemon-name {
  font-weight: bold;
  color: #2a2a2a;
  text-shadow: 1px 1px 1px #fff;
}

.pokemon-img {
  width: 200px;
  margin-bottom: 12px;
}

.attribute-lists {
  display: flex;
  justify-content: space-between;
}

.attribute-lists ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.type {
  padding: 6px 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
} 

.attributes{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: bold;
  color: black;
  
}

.back-button{
  margin-top: 1rem;
}

.type.normal { color: black; }
.type.fire       { background: #f08030; }
.type.water      { background: #6890f0; }
.type.grass      { background: #78c850; }
.type.electric   { background: #f8d030; color: #333; }
.type.ice        { background: #98d8d8; }
.type.fighting   { background: #c03028; }
.type.poison     { background: #a040a0; }
.type.ground     { background: #e0c068; color: #333; }
.type.flying     { background: #a890f0; }
.type.psychic    { background: #f85888; }
.type.bug        { background: #a8b820; }
.type.rock       { background: #b8a038; }
.type.ghost      { background: #705898; }
.type.dragon     { background: #7038f8; }
.type.dark       { background: #705848; }
.type.steel      { background: #b8b8d0; color: #333; }
.type.fairy      { background: #f0b6bc; color: #333; }


